<div id="home">

    <div class="stocksContainer">

        <div class="row">
            <div class="col-8 offset-2">
                <div>
                    <h3 class="investSubheading">Buying Power:</h3>
                    <h4 id="investAmount">${{budget}}</h4><br>
                </div>
            </div>

            <div class="col-8 offset-2">
                <canvas id="myChart"></canvas>
                <button id="1m" value="1m">Last Month</button>
                <button id="6m" value="6m">Last 6 Month</button>
                <button id="1y" value="1y">Last Year</button><br>
            </div>
            <div class="col-8 offset-2">

                <div>
                    <h3 class="stockSymbol">{{symbol}}</h3>
                    <h5>Shares: <h6 class="shareCount numberofShares">{{quantity}}</h6>
                    </h5>
                    <button id="price{{symbol}}" class="tradeButton button">Buy</button><br><br>
                    <button id="sell{{symbol}}" class="tradeButton button">Sell</button>
                    <hr>
                </div>


            </div>


            <div class="col-8 offset-2">
                <div class="container">
                    <div class="row border">
                        <div class="col-6">
                            <table class="clearfix ">
                                <tr>

                                    <th>
                                        Volume
                                    </th>
                                    <th id="vol">

                                    </th>
                                </tr>
                                <tr>

                                    <th>
                                        Average Volume
                                    </th>
                                    <th id="avgVol">

                                    </th>
                                </tr>
                                <tr>

                                    <th>
                                        Market Cap
                                    </th>
                                    <th id="mktCap">

                                    </th>
                                </tr>
                                <tr>

                                    <th>
                                        P/E Ratio
                                    </th>
                                    <th id="peRatio">

                                    </th>
                                </tr>

                            </table>
                        </div>
                        <div class="col-6">
                            <table>
                                <tr>
                                    <th>
                                        Open
                                    </th>
                                    <th id="open">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Today's High
                                    </th>
                                    <th id="high">

                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Today's Low
                                    </th>
                                    <th id="low">

                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        52 Wk High
                                    </th>
                                    <th id="52wkhigh">

                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        52 Wk Low
                                    </th>
                                    <th id="52wklow">

                                    </th>
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>

    var symbol = $(".stockSymbol").text();
    drawChart([symbol], "1m");
    var quote = "";
    var period = "";

    $("#1m").on("click",function(event){drawChart([$(".stockSymbol").text()],$("#1m").val(),$("#1m").val())});
    $("#6m").on("click",function(event){drawChart([$(".stockSymbol").text()],$("#6m").val(),$("#6m").val())});
    $("#1y").on("click",function(event){drawChart([$(".stockSymbol").text()],$("#1y").val(),$("#1y").val())});
    
    $.ajax({
        url: "https://api.iextrading.com/1.0/stock/" + symbol + "/quote",
        method: "GET",
    }).then(function (response) {
        quote = response;

        $("#vol").text(quote.latestVolume);
        $("#avgVol").text(quote.avgTotalVolume);
        $("#mktCap").text((quote.marketCap / 1000000) + " M");
        $("#peRatio").text(quote.peRatio);
        $("#open").text(quote.open);
        $("#close").text(quote.close);
        $("#high").text(quote.high);
        $("#low").text(quote.low);
        $("#52wkhigh").text(quote.week52High);
        $("#52wklow").text(quote.week52Low);

        $.ajax({
            url: "/data",
            method: "GET",
        }).then(function (data) {

            $("#investAmount").text(data.budget);

            var position = data.positions.find(function (element) {
                return element.symbol === symbol;
            })

            if (position === undefined) {
                $(".shareCount").text(0);
            } else {
                $(".shareCount").text(position.quantity);
            }




        });


    });



    $(".tradeButton").on("click", sendPurchaseRequest);


</script>